configs:
  params:
    server.insecure: "true"
  cm:
    resource.exclusions: |
      - apiGroups:
        - snapshot.storage.k8s.io
        kinds:
        - VolumeSnapshot
        - VolumeSnapshotContent
    dex.config: |
      connectors:
      - type: github
        id: github
        name: GitHub
        config:
          baseURL: https://github.com
          clientID: $argocd-github-oauth-creds:clientID
          clientSecret: $argocd-github-oauth-creds:clientSecret

    # Workaround for OutOfSync status (https://github.com/argoproj/argo-cd/issues/17117#issuecomment-2416198505)
    resource.customizations.ignoreDifferences.argoproj.io_Application: |
      jqPathExpressions:
        - .metadata.finalizers[]? | select(. == "post-delete-finalizer.argocd.argoproj.io" or . == "post-delete-finalizer.argocd.argoproj.io/cleanup")
        - if (.metadata.finalizers | length) == 0 then .metadata.finalizers else empty end

  rbac:
    scopes: "[email, groups]"
    policy.default: role:denyall
    policy.csv: |
      p, role:denyall, *, *, *, deny
      g, niklas.frick@pm.me, role:admin

repoServer:
  resources:
    limits:
      memory: 200Mi
    requests:
      cpu: 10m
      memory: 200Mi

controller:
  replicas: 1
  resources:
    limits:
      memory: 768Mi
    requests:
      cpu: 81m
      memory: 768Mi

applicationSet:
  resources:
    limits:
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 50Mi

notifications:
  enabled: false

dex:
  resources:
    limits:
      memory: 150Mi
    requests:
      cpu: 10m
      memory: 100Mi

redis:
  resources:
    limits:
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 100Mi

server:
  httproute:
    enabled: true
    parentRefs:
      - name: internal-gateway
        namespace: kube-system
        sectionName: https
  resources:
    limits:
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 100Mi
