global:
  domain: argocd.apps.949x.net

repoServer:
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetMemoryUtilizationPercentage: 150
    targetCPUUtilizationPercentage: 400

controller:
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false

applicationSet:
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
  replicas: 2

dex:
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false

redis-ha:
  enabled: true

server:
  metrics:
    enabled: false
    serviceMonitor:
      enabled: false
  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetMemoryUtilizationPercentage: 150
    targetCPUUtilizationPercentage: 200
  httproute:
    hostnames:
      - argocd.apps.949x.net
