# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
talosVersion: v1.12.4 # renovate:github-releases depName=siderolabs/talos
kubernetesVersion: v1.34.3 # renovate:github-releases depName=kubernetes/kubernetes

clusterName: omni-local
endpoint: https://omni-local.bal.949x.net:6443
clusterPodNets:
  - 10.11.0.0/16
clusterSvcNets:
  - 10.12.0.0/16
additionalApiServerCertSans:
  - 10.96.10.100
  - 127.0.0.1
additionalMachineCertSans:
  - omni-local.bal.949x.net
  - 10.96.10.100
  - 127.0.0.1
nodes:
  - hostname: omni-local-cp1
    controlPlane: true
    ipAddress: 10.96.10.101
    installDisk: /dev/sda
    talosImageURL: factory.talos.dev/metal-installer-secureboot/80469ef645425bc7cb27830a7143999e422fd7b206c9d9726c47de47800e956d
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.96.10.101/24
        dhcp: false
        vip:
          ip: 10.96.10.100
        routes:
          - network: 0.0.0.0/0
            gateway: 10.96.10.1
    volumes:
      - name: EPHEMERAL
        provisioning:
          minSize: 2GiB
          maxSize: 40GiB
          grow: false
    userVolumes:
      - name: local-path-provisioner-data
        provisioning:
          diskSelector:
            match: "system_disk"
          minSize: 200GiB

patches:
  # Disable predictable network interface names
  - |-
    machine:
      install:
        extraKernelArgs:
          - net.ifnames=0
          - talos.platform=metal

  # Force nameserver
  - |-
    machine:
      network:
        nameservers:
          - 10.96.10.1
          - 9.9.9.9

  # Configure NTP
  - |-
    machine:
      time:
        disabled: false
        servers: ["0.ch.pool.ntp.org", "1.ch.pool.ntp.org", "2.ch.pool.ntp.org", "3.ch.pool.ntp.org"]

  # Metrics Server
  - |-
    machine:
      kubelet:
        extraArgs:
          rotate-server-certificates: true
    cluster:
      extraManifests:
        - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
        - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml

  # Monitoring settings
  - |-
    cluster:
      allowSchedulingOnControlPlanes: true
      controllerManager:
        extraArgs:
          bind-address: 0.0.0.0
      proxy:
        disabled: true
      network:
        cni:
          name: none
      scheduler:
        extraArgs:
          bind-address: 0.0.0.0
      etcd:
          extraArgs:
            listen-metrics-urls: http://0.0.0.0:2381
