apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: velero-s3-keys
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: infisical-secret-store
    kind: ClusterSecretStore
  target:
    name: velero-s3-keys
    template:
      engineVersion: v2
      data:
        cloud: |
          [default]
          aws_access_key_id = "{{ `{{ .accesskey }}` }}"
          aws_secret_access_key = "{{ `{{ .secretkey }}` }}"
  data:
    - secretKey: accesskey
      remoteRef:
        key: /minio-aistor-s3-bal/GLOBAL_RW_ACCESS_KEY
    - secretKey: secretkey
      remoteRef:
        key: /minio-aistor-s3-bal/GLOBAL_RW_SECRET_KEY
