apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: infra
spec:
  description: Infrastructure App Project
  sourceRepos:
  - 'git@github.com:niklasfrick/homelab.git'
  - 'https://charts.external-secrets.io'
  - 'https://charts.jetstack.io'
  - 'https://twingate.github.io/helm-charts'
  - 'https://prometheus-community.github.io/helm-charts'
  - 'ghcr.io/grafana/helm-charts'
  - 'https://helm.cilium.io/'
  - 'https://grafana.github.io/helm-charts'
  - 'https://cloudnative-pg.io/charts'
  - 'https://vmware-tanzu.github.io/helm-charts'
  - 'https://piraeus.io/helm-charts'
  - 'registry-1.docker.io/bitnamicharts'
  - 'https://kubernetes.github.io/ingress-nginx'
  - 'https://charts.rook.io/release'
  - 'https://helm.altinity.com'
  - 'https://kubernetes-sigs.github.io/external-dns/'
  - 'https://pkgs.tailscale.com/helmcharts'
  - 'https://helm.ngc.nvidia.com/nvidia'
  destinations:
    - namespace: 'alloy'
      server: https://kubernetes.default.svc
    - namespace: 'cert-manager'
      server: https://kubernetes.default.svc
    - namespace: 'cilium-secrets'
      server: https://kubernetes.default.svc
    - namespace: 'external-secrets'
      server: https://kubernetes.default.svc
    - namespace: 'external-dns'
      server: https://kubernetes.default.svc
    - namespace: 'grafana'
      server: https://kubernetes.default.svc
    - namespace: 'kube-prometheus-stack'
      server: https://kubernetes.default.svc
    - namespace: 'kube-system'
      server: https://kubernetes.default.svc
    - namespace: 'local-path-provisioner'
      server: https://kubernetes.default.svc
    - namespace: 'loki'
      server: https://kubernetes.default.svc
    - namespace: 'twingate-connector'
      server: https://kubernetes.default.svc
    - namespace: 'clickhouse-operator'
      server: https://kubernetes.default.svc
    - namespace: 'cnpg-system'
      server: https://kubernetes.default.svc
    - namespace: 'velero'
      server: https://kubernetes.default.svc
    - namespace: 'thanos'
      server: https://kubernetes.default.svc
    - namespace: 'cloudflared'
      server: https://kubernetes.default.svc
    - namespace: 'internal-ingress-nginx'
      server: https://kubernetes.default.svc
    - namespace: 'omni'
      server: https://kubernetes.default.svc
    - namespace: 'omni-bmip'
      server: https://kubernetes.default.svc
    - namespace: 'rook-ceph'
      server: https://kubernetes.default.svc
    - namespace: 'external-gateway'
      server: https://kubernetes.default.svc
    - namespace: 'tailscale-operator'
      server: https://kubernetes.default.svc
    - namespace: 'gpu-operator'
      server: https://kubernetes.default.svc
    - namespace: 'tempo'
      server: https://kubernetes.default.svc
    - namespace: 'beyla'
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
  - group: 'rbac.authorization.k8s.io'
    kind: ClusterRoleBinding
  - group: 'rbac.authorization.k8s.io'
    kind: ClusterRole
  - group: 'apiextensions.k8s.io'
    kind: CustomResourceDefinition
  - group: 'admissionregistration.k8s.io'
    kind: ValidatingWebhookConfiguration
  - group: 'admissionregistration.k8s.io'
    kind: MutatingWebhookConfiguration
  - group: 'storage.k8s.io'
    kind: CSIDriver
  - group: 'external-secrets.io'
    kind: ClusterSecretStore
  - group: 'cert-manager.io'
    kind: ClusterIssuer
  - group: 'storage.k8s.io'
    kind: StorageClass
  - group: 'snapshot.storage.k8s.io'
    kind: VolumeSnapshotClass
  - group: 'scheduling.k8s.io'
    kind: PriorityClass
  - group: 'apiregistration.k8s.io'
    kind: APIService
  - group: 'networking.k8s.io'
    kind: IngressClass
  - group: 'cilium.io'
    kind: '*'
  - group: gateway.networking.k8s.io
    kind: '*'
  - group: 'tailscale.com'
    kind: Connector
  - group: 'nvidia.com'
    kind: ClusterPolicy
  namespaceResourceBlacklist:
  - group: ''
    kind: ResourceQuota
  - group: ''
    kind: LimitRange
  # Enables namespace orphaned resource monitoring.
  orphanedResources:
    warn: true
