{{- if .Values.projects.workloads.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: workloads
spec:
  description: Workloads App Project
  sourceRepos:
  - 'git@github.com:niklasfrick/homelab.git'
  destinations:
    - namespace: 'plausible'
      server: https://kubernetes.default.svc
  clusterResourceWhitelist:
  - group: ''
    kind: Namespace
  namespaceResourceBlacklist:
  - group: ''
    kind: ResourceQuota
  - group: ''
    kind: LimitRange
  # Enables namespace orphaned resource monitoring.
  orphanedResources:
    warn: true
{{- end }}
