domainName: omni.apps-omni.949x.net
accountUuid: 8b965a24-0dce-4481-840f-b5548ea1c139
name: "Omni"
auth:
  auth0:
    enabled: true
    clientId: "2fx0Rm2WxCDy4N4QCRuGssy0o2sXpsZi"
    domain: "949x.eu.auth0.com"
initialUsers:
  - "niklas.frick@pm.me"
service:
  ingress:
    enabled: true
    ingressClassName: internal-ingress-nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
  siderolink:
    domainName: siderolink.omni.apps-omni.949x.net
    wireguard:
      address: "10.96.10.101"
    ingress:
      enabled: true
      ingressClassName: internal-ingress-nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod
  k8sProxy:
    domainName: kubernetes.omni.apps-omni.949x.net
    ingress:
      enabled: true
      ingressClassName: internal-ingress-nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-prod

workloadServiceProxying:
  enabled: true
  subdomain: "proxy"
  domainName: apps-omni.949x.net
  ingress:
    enabled: true
    ingressClassName: internal-ingress-nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod

resources:
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    memory: 400Mi

persistence:
  enabled: true
  persistentVolumeClaim:
    storageClass: "nfs-csi-retain"
    size: 5Gi

volumes:
  gpg:
    secretName: etcd-gpg-asc-key

extraObjects:
  - |
    apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: etcd-gpg-asc-key
      namespace: omni
    spec:
      refreshInterval: 1h
      secretStoreRef:
        name: infisical-secret-store
        kind: ClusterSecretStore
      target:
        name: etcd-gpg-asc-key
        creationPolicy: Owner
      data:
        - secretKey: omni.asc
          remoteRef:
            key: /omni/etcd/OMNI_GPG_ASC_KEY
