{{ if .Values.grafana.route.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-httproute
  namespace: {{ .Release.Namespace }}
spec:
  parentRefs:
  - name: internal-gateway
    namespace: kube-system
    sectionName: https
  hostnames:
  - {{ .Values.grafana.hostname }}
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /
    backendRefs:
    - name: grafana-service
      port: 3000
      group: ''
      kind: Service
      weight: 1
{{ end }}
