global:
  security:
    allowInsecureImages: true

image:
  registry: quay.io
  repository: thanos/thanos
  tag: v0.40.1 # renovate:docker depName=thanos registryUrl=quay.io/thanos

existingObjstoreSecret: thanos-s3-keys

query:
  enabled: true
  dnsDiscovery:
    sidecarsService: kube-prometheus-stack-thanos-discovery
    sidecarsNamespace: kube-prometheus-stack
  extraFlags:
    - --query.replica-label=prometheus_replica
    - --query.replica-label=rule_replica
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

queryFrontend:
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 120Mi

bucketweb:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

compactor:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 350Mi
    limits:
      memory: 420Mi

storegateway:
  enabled: true
  resources:
    requests:
      cpu: 100m
      memory: 300Mi
    limits:
      memory: 600Mi

receive:
  enabled: true
  resources:
    requests:
      cpu: 10m
      memory: 100Mi
    limits:
      memory: 100Mi

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
