{{- if .Values.thanos.enabled }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: thanos-s3-keys
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: infisical-secret-store
    kind: ClusterSecretStore
  target:
    name: thanos-s3-keys
    template:
      engineVersion: v2
      data:
        thanos-object-storage-config.yaml: |-
          type: s3
          config:
            bucket: {{ .Values.instance }}-thanos-store
            endpoint: s3.bal.949x.net:9000
            region: bal
            access_key: "{{ `{{ .accesskey }}` }}"
            secret_key: "{{ `{{ .secretkey }}` }}"
  data:
    - secretKey: accesskey
      remoteRef:
        key: /minio-aistor-s3-bal/GLOBAL_RW_ACCESS_KEY
        conversionStrategy: Default # ArgoCD out of Sync Fix
        decodingStrategy: None # ArgoCD out of Sync Fix
        metadataPolicy: None # ArgoCD out of Sync Fix
    - secretKey: secretkey
      remoteRef:
        key: /minio-aistor-s3-bal/GLOBAL_RW_SECRET_KEY
        conversionStrategy: Default # ArgoCD out of Sync Fix
        decodingStrategy: None # ArgoCD out of Sync Fix
        metadataPolicy: None # ArgoCD out of Sync Fix
{{- end }}
