tempo:
  resources:
    requests:
      cpu: 300m
      memory: 200Mi
    limits:
      memory: 1Gi

  reportingEnabled: false

  metricsGenerator:
    # -- If true, enables Tempo's metrics generator (https://grafana.com/docs/tempo/next/metrics-generator/)
    enabled: true
    remoteWriteUrl: "http://kube-prometheus-stack-prometheus.kube-prometheus-stack.svc.cluster.local:9090/api/v1/write"
  overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics
          - local-blocks

serviceMonitor:
  enabled: true
  interval: 15s
  scrapeTimeout: 10s
