# WORKAROUND FOR BITNAMI LEGACY REGISTRY: REMOVE IF NEW IMAGE TAG FOR K8s 1.34 IS AVAILABLE
kubectl:
  image:
    tag: 1.33.4

metrics:
  serviceMonitor:
    enabled: true
  prometheusRule:
    enabled: true
    spec:
      - alert: VeleroBackupFailed
        annotations:
          message: Velero backup {{ $labels.schedule }} has failed
        expr: |-
          velero_backup_last_status{schedule!=""} != 1
        for: 15m
        labels:
          severity: warning
      - alert: VeleroBackupFailing
        annotations:
          message: Velero backup {{ $labels.schedule }} has been failing for the last 12h
        expr: |-
          velero_backup_last_status{schedule!=""} != 1
        for: 12h
        labels:
          severity: critical
      - alert: VeleroBackupPartialFailures
        annotations:
          message: Velero backup {{ $labels.schedule }} has {{ $value | humanizePercentage }} partialy failed backups
        expr: |-
          rate(velero_backup_partial_failure_total{schedule!=""}[25m])
            / rate(velero_backup_attempt_total{schedule!=""}[25m]) > 0.5
        for: 15m
        labels:
          severity: warning

resources:
  limits:
    memory: 500Mi
  requests:
    cpu: 10m
    memory: 100Mi

nodeAgent:
  resources:
    limits:
      memory: 200Mi
    requests:
      cpu: 10m
      memory: 50Mi

credentials:
  useSecret: true
  existingSecret: velero-s3-keys

deployNodeAgent: true

initContainers:
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
