# WORKAROUND FOR BITNAMI LEGACY REGISTRY: REMOVE IF NEW IMAGE TAG FOR K8s 1.34 IS AVAILABLE
kubectl:
  image:
    tag: 1.33.4

metrics:
  serviceMonitor:
    enabled: true

resources:
  limits:
    memory: 500Mi
  requests:
    cpu: 10m
    memory: 100Mi

nodeAgent:
  resources:
    limits:
      memory: 200Mi
    requests:
      cpu: 10m
      memory: 50Mi

credentials:
  useSecret: true
  name: velero-s3-keys

deployNodeAgent: true

initContainers:
  - name: velero-plugin-for-csi
    image: velero/velero-plugin-for-csi:v0.7.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
  - name: velero-plugin-for-aws
    image: velero/velero-plugin-for-aws:v1.13.1
    imagePullPolicy: IfNotPresent
    volumeMounts:
      - mountPath: /target
        name: plugins
