apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloudflare-api-token
  namespace: {{ .Release.Namespace }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: infisical-secret-store
    kind: ClusterSecretStore
  target:
    name: cloudflare-api-token
  data:
    - secretKey: api-token
      remoteRef:
        key: /cloudflare/GLOBAL_CF_DNS_TOKEN
        conversionStrategy: Default # ArgoCD out of Sync Fix
        decodingStrategy: None # ArgoCD out of Sync Fix
        metadataPolicy: None # ArgoCD out of Sync Fix
