loki:
  auth_enabled: false
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  pattern_ingester:
    enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
    retention_period: 720h # 30 days retention
  querier:
    max_concurrent: 4

deploymentMode: SimpleScalable

backend:
  replicas: 1
  persistence:
    size: 1Gi
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    # Environment variables for Loki MinIO buckets
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-keys
          key: accesskey
    - name: S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-keys
          key: secretkey
gateway:
  resources:
    limits:
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 100Mi

read:
  replicas: 1
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    # Environment variables for Loki MinIO buckets
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-keys
          key: accesskey
    - name: S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-keys
          key: secretkey
  resources:
    limits:
      memory: 173Mi
    requests:
      cpu: 10m
      memory: 173Mi

write:
  replicas: 1
  persistence:
    size: 3Gi
  extraArgs:
    - -config.expand-env=true
  extraEnv:
    # Environment variables for Loki MinIO buckets
    - name: S3_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-keys
          key: accesskey
    - name: S3_SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: loki-s3-keys
          key: secretkey

chunksCache:
  enabled: false

test:
  enabled: false

lokiCanary:
  enabled: false

resultsCache:
  resources:
    limits:
      memory: 800Mi
    requests:
      cpu: 20m
      memory: 400Mi

extraObjects:
  - |
    apiVersion: external-secrets.io/v1
    kind: ExternalSecret
    metadata:
      name: loki-s3-keys
      namespace: {{ .Release.Namespace }}
    spec:
      refreshInterval: 1h
      secretStoreRef:
        name: infisical-secret-store
        kind: ClusterSecretStore
      target:
        name: loki-s3-keys
      data:
        - secretKey: accesskey
          remoteRef:
            key: /minio-s3-bal/GLOBAL_S3_RW_ACCESS_KEY
        - secretKey: secretkey
          remoteRef:
            key: /minio-s3-bal/GLOBAL_S3_RW_SECRET_KEY
