machine:
  install:
    disk: ${install_disk}
    image: ${installer_image}
  network:
    nameservers:
      - ${gateway_ip}
      - 9.9.9.9
  time:
    servers:
      - ntp11.metas.ch
      - ntp12.metas.ch
      - ntp13.metas.ch
  features:
    kubePrism:
      enabled: true
      port: 7445

cluster:
  allowSchedulingOnControlPlanes: true
  network:
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.77.0.0/12
    cni:
      name: none
  proxy:
    disabled: true
