machine:
  certSANs:
    - ${hostname}
    - ${ip_address}
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        addresses:
          - ${ip_address}/24
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway_ip}
    extraHostEntries:
      - ip: ${cluster_endpoint_vip}
        aliases:
          - ${cluster_domain}
